h1 {
  color: blue;
  text-align: center;
  font: times
}
button{
  background-color: teal;
  width: 100px;
  height: 25px;
  font-size: 20px;
}
button:hover{
  background-color: #326ba8;
}

div {
  background-color: teal;
  width: 400px;
  height: 400px;
  margin: 30px;
  padding: 20px;
  font-family: cursive;
  font-size: 13px;
  font: arial;
  font-weight: bold;

}

.name = bold
